.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    width: 300px;
}

.infected {
    border-bottom: 10px solid #3535eb;
}

.recovered {
    border-bottom: 10px solid #54c428;
}

.deaths {
    border-bottom: 10px solid #d42d17;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}